@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?3575783');
  src: url('../font/fontello.eot?3575783#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?3575783') format('woff2'),
       url('../font/fontello.woff?3575783') format('woff'),
       url('../font/fontello.ttf?3575783') format('truetype'),
       url('../font/fontello.svg?3575783#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3575783#fontello') format('svg');
  }
}
*/
 
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
     opacity: 1; 
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.30em;
    margin-top: .3em;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-edit:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-undo:before { content: '\e804'; } /* '' */
.icon-font:before { content: '\e805'; } /* '' */
.icon-flow-line:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */


div.drawActionBar{
    position: absolute;
    overflow: hidden;
    z-index: 1;
    right: 0px;
    transform: translateY(10%);
    float: right;
    border-radius: 5px 0px 0px 5px;
    width:0px;
    transition: width 1s;
    background: rgba(96, 125, 139, 0.67);
}

div.drawActionBar.expand{
    width: 40px;
    overflow: initial;
}

div.drawActionItemContainer{
    position: relative;
    top: 50%;
    overflow: hidden;
}

div.drawActionItem {
    position: relative;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3.5px;
    height: 32px;
    width: 32px;
    color: #b3b3b3;
    background: #7d8c94;
}
div.drawActionItem.expanded span.fa {
    color:#FF9800;
}

div.drawActionItem .glyphicon {
    margin: 10px;
}

div.drawActionItem span.fa {
    margin: .35em;
    margin-left: .02em;
    font-size: 1.3em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.drawActionItem:hover{   
    color: #fff9f9;
}

div.drawActionItem[data-sticky-action=true]:hover{
    background: #FF9800;
    opacity: 1;
    color: #fff9f9;
}

div.drawActionItem.stickyAction{
    background: #FF9800;
    opacity: 1;
    color: whitesmoke;
}

div.drawActionItem.stickyAction span.fa{
    color: white;
}

div.drawActionBar div.settingsBox{
    position: absolute;
    right: 40px;
    overflow: hidden;
    white-space: nowrap;
    /*bottom: 0px;*/
    width:0px;
    transform: translateY(-100%);
    background: rgba(102, 115, 122, 0.25);
    transition: width .8s;
}

div.drawActionBar div.settingsBox.expanded{
        width: 230px;
}


div.settingEntry{
    display: flex;
    margin: .3em;
    padding: 0.3em;
    overflow: hidden;
    box-sizing: border-box;
    background: #7d8c94;
    border-radius: 2px;
    color: whitesmoke;
}

div.settingEntry div.settingLabel{
        margin-left: 2px;
}

div.settingEntry div.settingSelector{
        margin-left: 10px;
}


.colorListContainer{
    display: inline-flex;
}

.colorCode {
    margin: 5px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    box-sizing: border-box;
}

.colorCode:hover {
    border:1.8px solid rgba(226, 147, 31, 0.86);
}

.colorCode.selected {
    border: 1.8px solid #FF9800;   
}

.svgCover {
    position: absolute;
    background: rgba(96, 125, 139, 0.28);
    z-index: 1;
}
